* {
  box-sizing: border-box;
}

:root {
  padding: 0px;
  font-size: 20px;
  --page-max-width: 1280px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  --primary-color: rgba(255, 255, 255, 0.9);
  background-color: var(--primary-color);
  --secondary-color: rgba(0, 0, 0, 0.2);
}

/*
img {
  display: flexbox;
  width: 100%;
}
section {
  color: var(--primary-colour);
  max-width: var(--page-max-width);
  margin: 0 auto;
}


picture {
  display: block;
  max-width: 50%;
}

dl {
  border: var(--primary-border);
}

.serif {
  font-family: serif;
}

.sans-serif {
  font-family: sans-serif;
}
*/
